@{
    ViewData["Title"] = "Movie Watchlist";
}

<h2>Informazioni sul progetto</h2>

<p><strong>Nome progetto:</strong> Movie Watchlist</p>
<p><strong>Studente:</strong> Tiziano Tacconi, Matricola: 105637</p>
<p><strong>Obiettivo:</strong> Permettere all’utente di cercare film via OMDb API e salvarli nella propria lista.</p>
<p><strong>Tecnologie usate:</strong> ASP.NET Core MVC, Web API REST, Bootstrap, Azure App Service</p>
<br>
<p><strong>link GitHub al Progetto: </strong><a href="https://github.com/RaijinKensei/WatchList">github.com/RaijinKensei/WatchList</a></p>

